<div class="b-project well">
  <div class="b-project__name">
    <div class="text-muted pull-right">
      <small>ID: <%= project.id %></small>
    </div>

    <h4>
      <%= link_to project.name, client_project_path(project) %> <%= project.completed_for %>%
    </h4>

    <p class="b-project__description">
      <%= project.description %>
    </p>
  </div>
</div>