<%= simple_form_for [:admin, @block], url: @block.new_record? ? admin_step_blocks_path(@step) : admin_block_path(@block) do |f| %>
    <%= simple_fields_for 'block', @block do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description, as: :html %>
          <hr/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@block), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_task_path(@task), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
