<% if @field.with_variants? %>
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to 'Поле', '#main', {data: {toggle: :tab}} %>
      </li>

      <li>
        <%= link_to 'Варианты ответа', '#variants', {data: {toggle: :tab}} %>
      </li>
    </ul>
<% end %>

<% if @field.with_variants? %>
    <div class="tab-content">
      <div class="tab-pane active" id="main">
<% end %>

<%= simple_form_for [:admin, @field], url: @field.new_record? ? admin_block_fields_path(@block) : admin_field_path(@field) do |f| %>
    <%= simple_fields_for 'field', @field do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :type, collection: Field.types.invert if @field.new_record? %>
          <%= f.input :name %>
          <%= f.input :required %>
          <%#= f.input :is_global %>
          <%= f.input :hint %>
          <%= f.input :description, as: :html %>
          <hr/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@field), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_task_path(@task), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>


<% if @field.with_variants? %>
    </div>
    <div class="tab-pane" id="variants">
      <%= render 'variants', variants: @field.variants %>
    </div>
<% end %>