<% if variants.present? %>
    <table class="table table-hover" data-type="nested" data-nested-url="<%= sort_admin_task_field_variants_path(@task, @field) %>">
      <thead>
      <tr>
        <th>Вариант ответа</th>
        <th width="200px" class="text-center">Отмечен</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% variants.each do |variant| %>
          <tr data-nested="item" data-nested-id="<%= variant.id %>">

            <td>
              <%= variant.label %>
            </td>

            <td class="text-center">
              <%= variant.default? ? checked_icon : unchecked_icon %>
            </td>

            <td>
              <div class="pull-right">
                <div class="btn-group">
                  <%= link_to pencil_icon,
                              edit_admin_task_field_variant_path(@task, @field, variant), :class => 'btn btn-xs btn-default' %>

                  <%= link_to trash_icon,
                              admin_task_field_variant_path(@task, @field, variant),
                              :method => :delete,
                              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                              :class => 'btn btn-xs btn-danger' %>
                </div>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info">
      Нет вариантов ответа.
    </div>
<% end %>

<%= link_to 'Новый вариант ответа', new_admin_task_field_variant_path(@task, @field), class: 'btn btn-default' %>
<%= link_to 'Отмена', admin_task_path(@task), class: 'btn btn-default' %>