<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Клиент'), new_admin_client_path, class: 'btn btn-default' %>
  </div>
  <h1>Клиенты</h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Клиент</th>
    <th class="text-center">Проекты</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td>
            <%= user.full_name %>
        </td>

        <td class="text-center">
          <%= user.projects.size %>
        </td>


        <td>
          <div class="pull-right">
              <div class="btn-group">
                <%= link_to pencil_icon,
                            edit_admin_client_path(user), :class => 'btn btn-xs btn-default' %>

                <%= link_to trash_icon,
                            admin_client_path(user),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>