<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Проект'), new_admin_project_path(client: @user.id), class: 'btn btn-default' %>
  </div>
  <h1>Проекты
    <small><%= @user.full_name %></small>
  </h1>
</div>

<%= render 'admin/projects/list', projects: @projects %>