<script id="loading.html" type="text/ng-template">
  <div class="loading-pane">
    <div class="loading-content">
        <i class="icon ion-ios7-reloading icon-refreshing"></i><br />&nbsp;&nbsp;Загрузка...
    </div>
  </div>
</script>