<script id="login.html" type="text/ng-template">
  <ion-view title="MobileController">
    <div class="b-login">
      <form novalidate="true" name="loginForm">
        <label class="item item-input">
          <input type="text" pattern="/\d+/" ng-model="user.login" placeholder="+7 (123) 456-78-90" ng-required="true" phonify/>
        </label>

        <label class="item item-input">
          <input type="password" ng-model="user.password" placeholder="Пароль" ng-required="true"/>
        </label>

        <button type="submit" class="button button-assertive button-block" ng-disabled="isLogingIn() || loginForm.$invalid" ng-click="checkAndGo(loginForm)">
          <span ng-if="!isLogingIn()">Войти</span>
          <span ng-if="isLogingIn()">Авторизация...</span>
        </button>

        <!--<div class="button-bar">-->
          <!--<a class="button button-block button-stable button-outline button-small" href="#/recover">-->
            <!--Забыли пароль?-->
          <!--</a>-->

          <!--<a class="button button-block button-stable button-outline button-small" href="#" onclick="window.open('http://mobilecontroller.ru/agent/profile/recover', '_blank', 'location=yes');">&ndash;&gt;&ndash;&gt;-->

          <!--</a>-->
        <!--</div>-->
      </form>
    </div>
  </ion-view>
</script>