<script id="map.html" type="text/ng-template">
  <ion-nav-buttons side="right">
    <a ng-click="openModal()">
      <i class="button button-icon ion-ios7-person"></i>
    </a>
  </ion-nav-buttons>

  <ion-view title="Карта" right-buttons="rightButtons">

    <ion-content has-header="true" has-footer="true" scroll="false">
      <loading></loading>

      <ya-map
      ya-center="{{ map.center }}"
      ya-zoom="{{ map.zoom }}"
      ya-before-init="beforeMapInit()"
      ya-after-init="afterMapInit($target)"
      ng-if="map"

      ya-behaviors="default scrollZoom -rightMouseButtonMagnifier"
      id="tasks-map">
        <ya-template-layout ya-key="targetBaloon" ya-overrides="overrides">
          <div class="target-baloon" target-seen="true">
            <h4>$[properties.name]</h4>
            <p><strong>$[properties.address]</strong></p>
            <div class="task-description">$[properties.description]</div>
            <p>Рейтинг: <strong>$[properties.rating]</strong>, Стоимость: <strong>$[properties.price]</strong></p>
            <p><button type="button" data-mission="$[properties.mission_id]" class="button button-block button-balanced">К заданию</button></p>
          </div>
        </ya-template-layout>

        <ya-toolbar ya-name="smallZoomControl" ya-options="{left: 5, top: 5}"></ya-toolbar>

        <ya-geo-object ya-source="map.location"
                       ya-options="{
                       iconImageHref: '<%= asset_url('audit/location.png') %>',
                       iconImageSize: [20, 20],
                       iconImageOffset: [-10, -10]
                       }"></ya-geo-object>

        <ya-cluster ya-options="{gridSize:100, preset: 'twirl#redClusterIcons'}">
          <ya-geo-object ng-repeat="target in map.targets" ya-source="target" ya-options="{preset: 'twirl#redIcon', balloonContentLayout: 'targetBaloon'}"></ya-geo-object>
        </ya-cluster>
      </ya-map>

    </ion-content>
  </ion-view>
</script>