<script id="recover.html" type="text/ng-template">
  <ion-view title="Забыли пароль?">
    <div class="b-login">
      <form novalidate="true" name="recoverForm">
        <label class="item item-input">
          <input type="text" pattern="/\d+/" ng-model="user.login" placeholder="+7 (123) 456-78-90" ng-required="true" ui-mask="{{ '(999) 999-99-99' }}" />
        </label>

        <button type="submit" class="button button-assertive button-block" ng-disabled="isRecovering() || recoverForm.$invalid" ng-click="recover(loginForm)">
          Восстановить пароль
        </button>
      </form>
    </div>
  </ion-view>
</script>