<script id="tabs.html" type="text/ng-template">
  <ion-tabs class="tabs-icon-top" type="default">
    <ion-tab title="Новые" icon="ion-ios7-filing" href="#/missions" badge-style="badge-assertive" badge="badges.missions">
      <ion-nav-view animation="slide-left-right" name="missions-tab" title="Новые"></ion-nav-view>
    </ion-tab>

    <ion-tab title="На карте" icon="ion-map" href="#/map" badge-style="badge-assertive" badge="badges.targets">
      <ion-nav-view name="map-tab" title="Карта"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Мои задания" icon="ion-ios7-star" href="#/tasks" badge-style="badge-assertive" badge="badges.tasks">
      <ion-nav-view name="tasks-tab" title="Мои задания"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</script>
