<%= render 'api/app/login' %>
<%= render 'api/app/recover' %>

<%= render 'api/app/tabs' %>
<%= render 'api/app/missions/list_item' %>
<%= render 'api/app/missions/status' %>
<%= render 'api/app/missions/info' %>
<%= render 'api/app/missions/item' %>
<%= render 'api/app/missions/index' %>

<%= render 'api/app/footer/accept_mission' %>
<%= render 'api/app/footer/empty' %>
<%= render 'api/app/footer/logout' %>
<%= render 'api/app/footer/close_modal' %>
<%= render 'api/app/footer/task' %>
<%= render 'api/app/footer/task_info' %>

<%= render 'api/app/locate' %>
<%= render 'api/app/map' %>

<%= render 'api/app/tasks/list' %>
<%= render 'api/app/tasks/list_item' %>

<%= render 'api/app/tasks/item' %>
<%= render 'api/app/tasks/item/not_found' %>
<%= render 'api/app/tasks/item/current' %>
<%= render 'api/app/tasks/item/approved' %>
<%= render 'api/app/tasks/item/done' %>
<%= render 'api/app/tasks/item/synced' %>

<%= render 'api/app/tasks/parts/cancel' %>

<%= render 'api/app/tasks/info' %>

<%= render 'api/app/tasks/block' %>
<%= render 'api/app/tasks/field' %>

<%= render 'api/app/parts/profile' %>
<%= render 'api/app/help' %>
<%= render 'api/app/loading' %>

<%# FIELDS %>
<%= render 'api/app/fields/string' %>
<%= render 'api/app/fields/text' %>

<%= render 'api/app/fields/date' %>
<%= render 'api/app/fields/time' %>

<%= render 'api/app/fields/toggle' %>
<%= render 'api/app/fields/checkbox' %>
<%= render 'api/app/fields/radio' %>

<%= render 'api/app/fields/location' %>
<%= render 'api/app/fields/image' %>
<%= render 'api/app/fields/audio' %>
<%= render 'api/app/fields/video' %>

<%= render 'api/app/parts/distance' %>
<%= render 'api/app/parts/timer' %>
<%= render 'api/app/parts/time' %>

<%= render 'api/app/parts/audio_button' %>
<%= render 'api/app/parts/image_button' %>
<%= render 'api/app/parts/locate_button' %>
<%= render 'api/app/parts/video_button' %>




