<%= simple_form_for [:admin, @user], url: @user.new_record? ? admin_audits_path : admin_audit_path(@user) do |f| %>
    <%= simple_fields_for 'user', @user do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%# TODO phone input mask %>
          <%= f.input :login %>
          <%= f.input :password %>

          <hr/>

          <%= f.simple_fields_for 'profile', @user.profile do |p| %>
              <%= p.input :email %>
              <%= p.input :first_name %>
              <%= p.input :last_name %>
              <hr/>
          <% end %>

        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@user), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_audits_path, class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
