<%= simple_form_for [:admin, @step], url: @step.new_record? ? admin_task_steps_path(@task) : admin_step_path(@step) do |f| %>
    <%= simple_fields_for 'step', @step do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description, as: :html %>
          <hr/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@step), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_task_path(@task), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
