<%= simple_form_for [:admin, @target], url: @target.new_record? ? admin_project_targets_path(@project) : admin_project_target_path(@project, @target) do |f| %>
    <%= simple_fields_for 'target', @target do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :address %>
          <hr />
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@target), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_project_targets_path(@project), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
