<div class="page-header">
  <h1>Добавление нескольких точек <small><%= @project.name %></small></h1>
</div>

<%= simple_form_for batch_admin_project_targets_path(@project), html: {multipart: true}, url: batch_admin_project_targets_path(@project), method: :post do |f| %>
    <%= simple_fields_for 'batch' do |f| %>

        <%= file_field f, label: 'Список' %>

        <div class="form-group">
          <label class="col-sm-2 control-label"></label>

          <div class="col-sm-10">
            <div class="alert alert-info">
              Скачайте <%= link_to template: :xls do %><i class="glyphicon glyphicon-file"></i> Шаблон.xls<% end %>, заполните его данными и загрузите с помощью данной формы.
            </div>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, 'Загрузить несколько', class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_project_targets_path(@project), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>