<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Точка'), new_admin_project_target_path(@project), class: 'btn btn-default' %>
    <%= link_to list_icon('Списком'), batch_admin_project_targets_path(@project), class: 'btn btn-default' %>
  </div>

  <h1>Правка проекта: <%= @project.name %></h1>
</div>

<%= render 'admin/projects/tabs', selected: 'targets' %>

<%#TODO карта с точками %>
<div></div>

<table class="table table-hover">
  <thead>
  <tr>
    <th width="20px"></th>
    <th>Точка</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @targets.each do |target| %>
      <tr>
        <td>
          <%= link_to screenshot_icon, target.gmaps_link, class: 'btn btn-default btn-xs' if target.geocoded? %>
        </td>
        <td>
          <%= target.name %>

          <%= content_tag :div, class: 'text-muted' do %>
            <%= target.address %>
          <% end %>
        </td>

        <td>
          <div class="pull-right">
              <div class="btn-group">
                <%= link_to pencil_icon,
                            edit_admin_project_target_path(@project, target), :class => 'btn btn-xs btn-default' %>

                <%= link_to trash_icon,
                            admin_project_target_path(@project, target),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>