.padding.with_card {
  margin-top: -1.5em;
  margin-bottom: 1em;
}

.card {
  background: none;
}

.tasks-list {
  .item:not(.item-divider) {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 90%;

    p {
      font-size: inherit;
    }
  }

}