$input_border_radius: 2px;
$hint_color: rgba(240,184,64, .6);

.b-form {
  text-shadow: 0 1px rgba(255, 255, 255, 1);

  .bar-footer {
    text-shadow: none;
  }

  .item-input {
    border: 1px solid #ddd;
    border-radius: $input_border_radius;
    background: #fff;
    &:active {
      z-index: 5;
    }
    input[type=text], input[type=date] {
      padding-top: 0;
    }
  }

  .item-toggle, .item-checkbox, .item-input {
    border: 1px solid #ddd;
    border-radius: $input_border_radius;
  }

  .item-divider {
    background: linear-gradient(#eaeaea, #e5e5e5);
    background: -webkit-linear-gradient(#eaeaea, #e5e5e5);
    padding-left: 10px;


    * {
      font-weight: bold;
    }
  }

  .valid .item-hint {
    display: none;
  }

  .select-list {
    .item-hint {
      marin-top: 0;
      margin-bottom: 6px;
      .tip {
        top: 100%;
        margin-top: 0;
        margin-bottom: -5px;
        border-width:  5px 5px 0 5px;
        border-color: $hint_color transparent transparent transparent;
      }
    }
  }

  .item-hint {
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 8px;
    background: $hint_color;
    padding: 8px 10px;
    position: relative;
    color: rgba(0,0,0,.8);
    font-size: 90%;
    //text-shadow: 0 1px 0 rgba(0,0,0,.2);
    text-shadow: none;
    border-radius: $input_border_radius;

    .tip {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $hint_color transparent;
      position: absolute;
      top: 0;
      left: 0;
      margin: -5px 0 0 10px;
    }
  }

  .item-input {
    .item-icon {
      display: none;
    }
  }

  .item-input__required {
    position: relative;
    .item-icon {
      display: none;
      text-shadow: none;
      display: none;
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 30px;
      color: #6c3;
    }

    input, textarea {
      padding-right: 35px;
      background: none;
    }

    &.invalid {
      background: rgba(255,255,0,.1);
      border-color: #f0b840;
      z-index: 2;
    }

    &.valid {
      background: rgba(0,255,0,.02);
      border-color: #6c3;
      z-index: 2;

      .item-icon {
        display: block;
      }
    }
  }

  task-field + task-field .item-input {
    margin-top: -1px;
  }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; display: block }
  100% { opacity: 0; display: none }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; display: block }
  100% { opacity: 1; display: block }
}