.b-login {
  height: 150px;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  padding: 0 15px;

  .button-bar {
    margin-top: -10px;
  }

  input {
    text-align: center;
    padding: 0;
    font: {
      size: 120%;
    }
  }
}
