.target-baloon {
  padding: 5px 20px;
}
.mission-map {
  height: 130px;
  margin: 0;
  overflow: hidden;

  ya-map {
    width: 100%;
    height: 100%;
    display: block;
  }

  .ymaps-map {
    height: 100%;
  }
}

.ymaps-copyrights-pane {
  display: none !important;
}