.button-center {
  text-align: center;
}

.bar-footer {
  .button-center {
    width: 100%;
  }

  .title {
    .icon {
      font-size: 26px;
      vertical-align: middle;
    }
  }

  .button-bar>.button:first-child {
    padding-left: 10px;
    text-align: left;
  }

  .button-bar>.button:last-child {
    padding-right: 10px;
    text-align: right;
  }

  .button-bar > .button .icon:before {
    line-height: 32px;
  }
}

body {
  background: #ccc;
}

.pane, .view {
  background: #f5f5f5;
}

.tabs {
  box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.scroll-refresher {
  overflow: visible;
}

.task-description {
  img {
    display: block;
    width: 100%;
  }
}

.loading-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #f5f5f5;

  .fade-out & {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;

    -webkit-transition: display .3s ease-in-out;
    -moz-transition: display .3s ease-in-out;
    -ms-transition: display .3s ease-in-out;
    -o-transition: display .3s ease-in-out;
    display: none;
  }

  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin: -25px 0 0 -100px;
    text-align: center;
  }

  .icon {
    font-size: 40px;
  }
}