.text-muted {
  font-size: 90%;
  color:#999;
}

.b-timer__icon {
  margin-top: -7px;
}

.b-timer {
  border-radius: 4px;
  float: left;
  width: 32px;
  margin-left: -37px;
  margin-top: 3px;
  margin-bottom: -5px;
  text-align: center;
  font-size: 11px;
  position: relative;
  z-index: 2;

  &.time-warning {
    background: orange;
  }

  &.time-danger {
    background: red;
    color: #fff;
  }
}