
.tasks-list {
  text-shadow: 0 1px rgba(255, 255, 255, 1);

  &.task-info {
    margin-bottom: 0;
  }

  .item-divider {
    position: -webkit-sticky !important;
    position: sticky !important;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    background: -webkit-linear-gradient(#ddd, #eee);
    background: linear-gradient(#ddd, #eee);
    border-top: 1px solid rgba(0,0,0, .1);
  }

  .task-item {
    background: -webkit-linear-gradient(#fff, #f5f5f5);
    background: linear-gradient(#fff, #f5f5f5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &.task-item__empty {
      padding-top: 10px;
      font-size: 15px;
      padding-bottom: 10px;
    }

    &.task-fresh {
      .b-task__fresh {
        width: 8px;
        height: 8px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 50%;
        background: #0079FD;
      }
    }

    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    &::after {
      display: none;
    }

    &.active {
      background: #eee;
    }
  }
}

.b-task {
  line-height: 1.3;
  padding-right: 60px;

  .icon.fa {
    font-size: 180%;
  }

  .b-task__name {
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px;
  }

  .b-task__address {
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .5;
    padding-left: 15px;
    i {
      &.pin {
        margin-left: -14px;
      }

      &.compas {

      }
      margin-top: 2px;
      float: left;
      display: block;
      margin-left: -15px;
    }
  }

  .b-task__info {
    padding-top: 3px;
    font-size: 13px;

    .b-task__time {
      opacity: .5;
      font-size: 11px;
    }
  }

  .b-task__time {
    opacity: .8;

    i {
      opacity: 1;
      display: inline-block;
    }
  }
  .b-task__price, .b-task__rating {
    background: -webkit-linear-gradient(#43BB14, #05A702);
    background: linear-gradient(#43BB14, #05A702);
    text-shadow: 0 -1px rgba(0, 0, 0, .3);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.2);
    border-radius: 3px;
    font-weight: bold;
    font-size: 105%;
    padding: 3px 0;
    color: #fff;
    margin-bottom: 2px;

    &.incomplete {
      background: -webkit-linear-gradient(#ccc, #aaa);
      background: linear-gradient(#ccc, #aaa);
    }

    .fa {
      font-size: 13px;
    }
  }

  .b-task__info {
    width: 50px;
    margin-right: -60px;
    float: right;
    text-align: center;
  }
}

.bar > .button.button-right {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
}