<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
    <h2 class="form-signin-heading">Вход в систему</h2>

    <%= f.input_field :login, as: :string, required: true, autofocus: true, placeholder: 'Логин', pattern: false, class: 'form-control', data: {type: :phone} %>
    <%= f.input_field :password, required: true, placeholder: 'Пароль', class: 'form-control' %>

    <label class="checkbox">
      <input type="checkbox" name="user[remember_me]" /> Запомнить меня
    </label>

    <%= f.button :submit, 'Вход', class: 'btn btn-lg btn-primary btn-block' %>
    <%= link_to 'Зарегистрироваться', agent_register_path, class: 'btn btn-lg btn-block btn-default' %>
<% end %>
