<div class="form-group">
  <label class="col-sm-2 control-label" for="employee_description">
    <%= options[:label] || 'Файл' %>
  </label>

  <div class="col-sm-10">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div>
        <span class="btn btn-default btn-file"><span class="fileinput-new">Выбрать файл...</span><span class="fileinput-exists">Изменить</span><%= form.input_field options[:key], type: :file %></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Удалить</a>
      </div>
    </div>
  </div>
</div>