<div class="form-group">
  <label class="col-sm-2 control-label" for="employee_description">
    <%= options[:label] || 'Картинка' %>
  </label>

  <div class="col-sm-10">
    <div class="fileinput <%= entity.send(options[:key]).exists? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;">
        <%= image_tag entity.send(options[:key]).url(:preview) if entity.send(options[:key]).exists? %>
      </div>
      <div>
        <span class="btn btn-default btn-file">
          <span class="fileinput-new">Обзор...</span>
          <span class="fileinput-exists">Изменить</span>
          <%= form.input_field options[:key], type: :file %>
        </span>

        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Удалить</a>
      </div>
    </div>
  </div>
</div>