<%= simple_form_for [:admin, @project_task], url: @project_task.new_record? ? admin_project_tasks_path : admin_project_task_path(@project, @task) do |f| %>
    <%= simple_fields_for 'project_task', @project_task do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :task, collection: Task.all %>
          <%= f.input :price %>
          <hr/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@project_task), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_tasks_path, class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
