<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Задача'), new_admin_project_task_path(@project), class: 'btn btn-default' %>
  </div>
  <h1>Задачи проекта</h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Задача</th>
    <th>Функционал</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td>
            <%= task.name %>
        </td>

        <td>
          <%= task.function %>
        </td>

        <td>
          <div class="pull-right">
              <div class="btn-group">
                <%= link_to pencil_icon,
                            edit_admin_project_task_path(@project, task), :class => 'btn btn-xs btn-default' %>

                <%= link_to trash_icon,
                            admin_project_task_path(@project, task),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>