.padding.with_card {
  margin-top: -1.5em;
  margin-bottom: 1em; }

.card {
  background: none; }

.tasks-list .item:not(.item-divider) {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 90%; }
  .tasks-list .item:not(.item-divider) p {
    font-size: inherit; }
.b-form {
  text-shadow: 0 1px white; }
  .b-form .bar-footer {
    text-shadow: none; }
  .b-form .item-input {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff; }
    .b-form .item-input:active {
      z-index: 5; }
    .b-form .item-input input[type=text], .b-form .item-input input[type=date] {
      padding-top: 0; }
  .b-form .item-toggle, .b-form .item-checkbox, .b-form .item-input {
    border: 1px solid #ddd;
    border-radius: 2px; }
  .b-form .item-divider {
    background: linear-gradient(#eaeaea, #e5e5e5);
    background: -webkit-linear-gradient(#eaeaea, #e5e5e5);
    padding-left: 10px; }
    .b-form .item-divider * {
      font-weight: bold; }
  .b-form .valid .item-hint {
    display: none; }
  .b-form .select-list .item-hint {
    marin-top: 0;
    margin-bottom: 6px; }
    .b-form .select-list .item-hint .tip {
      top: 100%;
      margin-top: 0;
      margin-bottom: -5px;
      border-width: 5px 5px 0 5px;
      border-color: rgba(240, 184, 64, 0.6) transparent transparent transparent; }
  .b-form .item-hint {
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 8px;
    background: rgba(240, 184, 64, 0.6);
    padding: 8px 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    font-size: 90%;
    text-shadow: none;
    border-radius: 2px; }
    .b-form .item-hint .tip {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent rgba(240, 184, 64, 0.6) transparent;
      position: absolute;
      top: 0;
      left: 0;
      margin: -5px 0 0 10px; }
  .b-form .item-input .item-icon {
    display: none; }
  .b-form .item-input__required {
    position: relative; }
    .b-form .item-input__required .item-icon {
      display: none;
      text-shadow: none;
      display: none;
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 30px;
      color: #6c3; }
    .b-form .item-input__required input, .b-form .item-input__required textarea {
      padding-right: 35px;
      background: none; }
    .b-form .item-input__required.invalid {
      background: rgba(255, 255, 0, 0.1);
      border-color: #f0b840;
      z-index: 2; }
    .b-form .item-input__required.valid {
      background: rgba(0, 255, 0, 0.02);
      border-color: #6c3;
      z-index: 2; }
      .b-form .item-input__required.valid .item-icon {
        display: block; }
  .b-form task-field + task-field .item-input {
    margin-top: -1px; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }

  100% {
    opacity: 0;
    display: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    display: block; }

  100% {
    opacity: 1;
    display: block; } }
.select-list .title {
  padding: 15px 0 10px; }
.b-login {
  height: 150px;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  padding: 0 15px; }
  .b-login .button-bar {
    margin-top: -10px; }
  .b-login input {
    text-align: center;
    padding: 0;
    font-size: 120%; }
.target-baloon {
  padding: 5px 20px; }

.mission-map {
  height: 130px;
  margin: 0;
  overflow: hidden; }
  .mission-map ya-map {
    width: 100%;
    height: 100%;
    display: block; }
  .mission-map .ymaps-map {
    height: 100%; }

.ymaps-copyrights-pane {
  display: none !important; }
.b-profile .item-note {
  padding-right: 10px;
  font-size: 120%;
  color: #000; }
.b-profile .badge {
  right: 20px; }
.button-center {
  text-align: center; }

.bar-footer .button-center {
  width: 100%; }
.bar-footer .title .icon {
  font-size: 26px;
  vertical-align: middle; }
.bar-footer .button-bar > .button:first-child {
  padding-left: 10px;
  text-align: left; }
.bar-footer .button-bar > .button:last-child {
  padding-right: 10px;
  text-align: right; }
.bar-footer .button-bar > .button .icon:before {
  line-height: 32px; }

body {
  background: #ccc; }

.pane, .view {
  background: #f5f5f5; }

.tabs {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

.scroll-refresher {
  overflow: visible; }

.task-description img {
  display: block;
  width: 100%; }

.loading-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #f5f5f5; }
  .fade-out .loading-pane {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -webkit-transition: display .3s ease-in-out;
    -moz-transition: display .3s ease-in-out;
    -ms-transition: display .3s ease-in-out;
    -o-transition: display .3s ease-in-out;
    display: none; }
  .loading-pane .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin: -25px 0 0 -100px;
    text-align: center; }
  .loading-pane .icon {
    font-size: 40px; }
.text-muted {
  font-size: 90%;
  color: #999; }

.b-timer__icon {
  margin-top: -7px; }

.b-timer {
  border-radius: 4px;
  float: left;
  width: 32px;
  margin-left: -37px;
  margin-top: 3px;
  margin-bottom: -5px;
  text-align: center;
  font-size: 11px;
  position: relative;
  z-index: 2; }
  .b-timer.time-warning {
    background: orange; }
  .b-timer.time-danger {
    background: red;
    color: #fff; }
.tasks-list {
  text-shadow: 0 1px white; }
  .tasks-list.task-info {
    margin-bottom: 0; }
  .tasks-list .item-divider {
    position: -webkit-sticky !important;
    position: sticky !important;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    background: -webkit-linear-gradient(#dddddd, #eeeeee);
    background: linear-gradient(#dddddd, #eeeeee);
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .tasks-list .task-item {
    background: -webkit-linear-gradient(white, whitesmoke);
    background: linear-gradient(white, whitesmoke);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px; }
    .tasks-list .task-item.task-item__empty {
      padding-top: 10px;
      font-size: 15px;
      padding-bottom: 10px; }
    .tasks-list .task-item.task-fresh .b-task__fresh {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      display: inline-block;
      border-radius: 50%;
      background: #0079FD; }
    .tasks-list .task-item::after {
      display: none; }
    .tasks-list .task-item.active {
      background: #eee; }

.b-task {
  line-height: 1.3;
  padding-right: 60px; }
  .b-task .icon.fa {
    font-size: 180%; }
  .b-task .b-task__name {
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px; }
  .b-task .b-task__address {
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .5;
    padding-left: 15px; }
    .b-task .b-task__address i {
      margin-top: 2px;
      float: left;
      display: block;
      margin-left: -15px; }
      .b-task .b-task__address i.pin {
        margin-left: -14px; }
  .b-task .b-task__info {
    padding-top: 3px;
    font-size: 13px; }
    .b-task .b-task__info .b-task__time {
      opacity: .5;
      font-size: 11px; }
  .b-task .b-task__time {
    opacity: .8; }
    .b-task .b-task__time i {
      opacity: 1;
      display: inline-block; }
  .b-task .b-task__price, .b-task .b-task__rating {
    background: -webkit-linear-gradient(#43bb14, #05a702);
    background: linear-gradient(#43bb14, #05a702);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: bold;
    font-size: 105%;
    padding: 3px 0;
    color: #fff;
    margin-bottom: 2px; }
    .b-task .b-task__price.incomplete, .b-task .b-task__rating.incomplete {
      background: -webkit-linear-gradient(#cccccc, #aaaaaa);
      background: linear-gradient(#cccccc, #aaaaaa); }
    .b-task .b-task__price .fa, .b-task .b-task__rating .fa {
      font-size: 13px; }
  .b-task .b-task__info {
    width: 50px;
    margin-right: -60px;
    float: right;
    text-align: center; }

.bar > .button.button-right {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px; }
/*

 */
