<ul class="nav nav-tabs">
  <li class="active">
    <% unless @user.new_record? %>
        <%= link_to 'Основное', edit_admin_client_path(@user) %>
    <% end %>
  </li>

  <% unless @user.new_record? %>
      <li>
        <%= link_to 'Проекты', projects_admin_client_path(@user) %>
      </li>
  <% end %>
</ul>