<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="<%= admin_root_path %>">Администратор</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователи <b class="caret"></b></a>

        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Клиенты', admin_clients_path %>
          </li>

          <li>
            <%= link_to 'Администраторы', admin_admins_path %>
          </li>

          <li>
            <%= link_to 'Операторы', admin_operators_path %>
          </li>

          <li>
            <%= link_to 'Аудиторы', admin_audits_path %>
          </li>

        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Проекты <b class="caret"></b></a>

        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Текущие', admin_projects_path %>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_admin.full_name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Logout', destroy_admin_session_path) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>