<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Агент</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_agent.present? %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Задания', agent_user_tasks_path %>
            </li>

            <li>
              <%= link_to 'Профиль', edit_agent_profile_path %>
            </li>

            <li>
              <%= link_to 'Обратная связь', agent_feedbacks_path %>
            </li>
          </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_agent.present? %>
            <li>
              <%= link_to current_agent.full_name, agent_dashboard_path %>
            </li>

            <li>
              <%= link_to 'Выход', agent_logout_path %>
            </li>
        <% else %>
            <li>
              <%= link_to 'Регистрация', agent_register_path %>
            </li>
            <li>
              <%= link_to 'Вход', agent_login_path %>
            </li>
        <% end %>


      </ul>
    </div>
  </div>
</nav>