<% attr = field.id %>

<%= field.name %>
<%= field.description.html_safe if field.description.present? %>

<%#= TODO dates are datetime always! %>

<%= form.simple_fields_for attr.to_s do |f| %>
    <% if field.is_a?(Field::String) %>
        <%= f.input_field :string, value: answers[field.id] %>
    <% elsif field.is_a?(Field::Date) %>
        <%= f.input_field :datetime, value: answers[field.id] %>
    <% elsif field.is_a?(Field::Text) %>
        <%= f.text_area :text, value: answers[field.id] %>
    <% end %>
<% end %>
