<ul class="nav nav-tabs">
  <li class="active">
    <a href="#main" data-toggle="tab">Основное</a>
  </li>

  <li>
    <a href="#rating" data-toggle="tab">Рейтинг</a>
  </li>

  <li>
    <a href="#timing" data-toggle="tab">Тайминг</a>
  </li>

  <li>
    <a href="#audit" data-toggle="tab">Аудиторы</a>
  </li>

  <li>
    <a href="#targets" data-toggle="tab">Точки</a>
  </li>
</ul>


<%= simple_form_for [:admin, @task], url: @task.new_record? ? admin_project_tasks_path(@project) : admin_task_path(@task) do |f| %>
    <%= simple_fields_for 'task', @task do |f| %>
        <%= f.error_notification %>

        <div class="tab-content">
          <div class="tab-pane active" id="main">
            <%= f.input :name %>
            <%= f.input :type, collection: Task.types.invert %>
            <%= f.input :description, as: :html %>
            <%= f.input :done, as: :html %>
          </div>

          <div class="tab-pane" id="rating">
            <%= f.input :rating %>
            <%= f.input :price %>
            <%= f.association :priority, collection: Priority.sorted %>
          </div>

          <div class="tab-pane" id="targets">
            <%= f.association :targets, collection: @task.project.targets %>
          </div>

          <div class="tab-pane" id="audit">
          </div>

          <div class="tab-pane" id="timing">
            <%= f.input :time_to_complete %>
          </div>
        </div>

        <hr/>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@task), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_project_tasks_path(@project), class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>

