<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Задача'), new_admin_project_task_path(@project), class: 'btn btn-default' %>
  </div>

  <h1>Правка проекта: <%= @project.name %></h1>
</div>

<%= render 'admin/projects/tabs', selected: 'tasks' %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Задача</th>
    <th width="100px" class="text-center">Точки</th>
    <th width="100px" class="text-center">Вес</th>
    <th width="100px" class="text-center">Стоимость</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= priority task.priority %>
          <br/>
          <%= task.name %>
          <%= muted task.function %>
        </td>

        <td class="text-center">
            <%= task.targets.size %>
        </td>

        <td class="text-center">
          <%= task.rating %>
        </td>

        <td class="text-center">
          <%= task.price %>
        </td>

        <td>
          <div class="pull-right">
            <div class="btn-group">
              <%= link_to cog_icon,
                          admin_task_path(task), :class => 'btn btn-xs btn-default' %>

              <%= link_to pencil_icon,
                          edit_admin_task_path(task), :class => 'btn btn-xs btn-default' %>

              <%= link_to trash_icon,
                          admin_task_path(task),
                          :method => :delete,
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-xs btn-danger' %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>