<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Шаг'), new_admin_task_step_path(@task), class: 'btn btn-default' %>
  </div>
  <h1>Задача: <%= @task.name %></h1>
</div>

<div class="panel-group hide-controls" id="task" data-type="nested" data-nested-url="<%= sort_admin_task_steps_path(@task) %>">
  <% @task.steps.each do |step| %>
      <div class="panel panel-default" data-nested="item" data-nested-id="<%= step.id %>">
        <div class="panel-heading" data-nested="handle">
          <div class="pull-right controls">
            <div class="btn-group">
              <%= link_to pencil_icon,
                          edit_admin_step_path(step),
                          class: 'btn btn-default btn-xs' %>

              <%= link_to trash_icon,
                          admin_step_path(step),
                          method: :delete,
                          data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
                          class: 'btn btn-danger btn-xs' %>
            </div>
          </div>
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#task" href="#step-<%= step.id %>">
              <%= step.name %>
            </a>
          </h2>
        </div>

        <div id="step-<%= step.id %>" class="panel-collapse collapse in">
          <div class="panel-body">

            <% if step.description.present? %>
                <%= step.description.html_safe %>
            <% end %>

            <% if step.blocks.present? %>
                <div class="panel-group" id="step-blocks-<%= step.id %>" data-type="nested" data-nested-url="<%= sort_admin_step_blocks_path(step) %>">
                  <% step.blocks.each do |block| %>
                      <div class="panel panel-default" data-nested="item" data-nested-id="<%= block.id %>">
                        <div class="panel-heading" data-nested="handle">
                          <div class="pull-right controls">
                            <div class="btn-group">
                              <%= link_to pencil_icon,
                                          edit_admin_block_path(block),
                                          class: 'btn btn-default btn-xs' %>

                              <%= link_to trash_icon,
                                          admin_block_path(block),
                                          method: :delete,
                                          data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
                                          class: 'btn btn-danger btn-xs' %>
                            </div>
                          </div>
                          <h4 class="panel-title">
                            <%= block.name %>
                          </h4>
                        </div>

                        <% if block.description.present? %>
                            <div class="panel-body">
                              <%= block.description.html_safe %>
                            </div>
                        <% end %>

                        <ul class="list-group hide-controls" id="block-fields-<%= block.id %>" data-type="nested" data-nested-url="<%= sort_admin_block_fields_path(block) %>">
                          <% if block.fields.present? %>
                              <% block.fields.each do |field| %>
                                  <li class="list-group-item" data-nested="item" data-nested-id="<%= field.id %>">


                                    <% if field.with_variants? %>
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <div class="pull-right controls">
                                              <div class="btn-group">
                                                <%= link_to pencil_icon,
                                                            edit_admin_field_path(field),
                                                            class: 'btn btn-default btn-xs' %>

                                                <%= link_to trash_icon,
                                                            admin_field_path(field),
                                                            method: :delete,
                                                            data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
                                                            class: 'btn btn-danger btn-xs' %>
                                              </div>
                                            </div>

                                            <%= field.field %><%= ' *' if field.required? %>: <%= field.name %>
                                          </div>

                                          <div class="panel-body">
                                            <ul class="list-unstyled" data-type="nested" data-nested-url="<%= sort_admin_task_field_variants_path(@task, field) %>">
                                              <% field.variants.each do |variant| %>
                                                  <li data-nested="item" data-nested-id="<%= variant.id %>">
                                                    <%= variant.default? ? checked_icon : unchecked_icon %> <%= variant.label %>
                                                  </li>
                                              <% end %>
                                            </ul>
                                          </div>

                                        </div>
                                    <% else %>
                                        <div class="pull-right controls">
                                          <div class="btn-group">
                                            <%= link_to pencil_icon,
                                                        edit_admin_field_path(field),
                                                        class: 'btn btn-default btn-xs' %>

                                            <%= link_to trash_icon,
                                                        admin_field_path(field),
                                                        method: :delete,
                                                        data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
                                                        class: 'btn btn-danger btn-xs' %>
                                          </div>
                                        </div>
                                        <%= field.field %><%= ' *' if field.required? %>: <%= field.name %>
                                        <%= content_tag :div, field.hint, class: 'text-muted' if field.hint.present? %>
                                    <% end %>
                                  </li>
                              <% end %>

                          <% end %>
                          <li class="list-group-item">
                            <%= link_to plus_icon('Поле'),
                                        new_admin_block_field_path(block),
                                        class: 'btn btn-default btn-xs' %>
                          </li>
                        </ul>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <%= link_to plus_icon('Блок'),
                        new_admin_step_block_path(step),
                        class: 'btn btn-default btn-xs' %>
          </div>
        </div>

      </div>
  <% end %>
</div>