<div id="settingsModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#settingsModal"></a>

    <h1 class="title">
      <span class="fa fa-gear"></span>
      Настройки
    </h1>

  </header>

  <div class="bar bar-standart bar-header-secondary">
    <div class="segmented-control">
      <a class="control-item active" href="#profile_form">
        Данные
      </a>

      <a class="control-item" href="#password_form">
        Пароль
      </a>

      <a class="control-item" href="#logout_form">
        Выход
      </a>
    </div>
  </div>

  <div class="content content-padded">

    <div class="control-content" id="logout_form">
      <a href="<%= agent_logout_path %>" class="btn btn-block" data-ignore="push">
        Выйти
      </a>
    </div>
  </div>
</div>