<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="<%= client_root_path %>">Клиент</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Проекты<b class="caret"></b></a>

        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Текущие', client_projects_path %>
          </li>

          <li>
            <%= link_to 'Предстоящие', client_comings_path %>
          </li>

          <li>
            <%= link_to 'Архив', client_archives_path %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to 'Обратная связь', client_feedbacks_path %>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_client.full_name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Logout', destroy_client_session_path) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>