<%= content_for :page_heading do %>
    <h1>
      <%= @project.name %> <%= @project.completed_for %>%
    </h1>
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'Задачи', '#tasks', {data: {toggle: 'tab'}} %>
  </li>
  <li>
    <%= link_to 'Адресный справочник', '#targets', {data: {toggle: 'tab'}} %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tasks">
    <% if @project.tasks.present? %>
        <table class="table">
          <thead>
          <tr>
          <th>
            Задача
          </th>
          <th class="text-center">
            Выполнено
          </th>
          </thead>
          <% @project.tasks.each do |task| %>
              <tr>
                <td>
                  <%= task.name %>
                </td>
                <td class="text-center">
                  <%= number_with_precision task.completed_for, precision: 2 %>%
                </td>
              </tr>
          <% end %>
        </table>
    <% else %>
        В этом проекте нет задач
    <% end %>
  </div>

  <div class="tab-pane" id="targets">
    <table class="table">
      <thead>
      <tr>
      <th>
        Маршрут
      </th>
      </thead>
      <% @project.targets.each do |target| %>
          <tr>
            <td>
              <%= target.name %>
              <%= content_tag :div, class: 'text-muted' do %>
                  <%= target.address %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

  </div>
