<%= content_for :page_heading_actions do %>
    <div class="pull-right">
      <%= link_to 'Агент', agent_root_path, class: 'btn btn-default' %>
      <%= link_to 'Клиент', client_session_path, class: 'btn btn-primary' %>
    </div>
<% end %>

<%= content_for :page_heading do %>
    <h1>Mobilecontroller</h1>
<% end %>