<script id="missions.html" type="text/ng-template">
  <ion-nav-buttons side="right">
    <a ng-click="openModal()">
      <i class="button button-icon ion-ios7-person"></i>
    </a>
  </ion-nav-buttons>

  <ion-view title="Аудит" right-buttons="rightButtons">
    <loading></loading>

    <ion-content has-header="true" has-footer="true" ng-init="showTabs()" class="_has-tabs">
      <ion-refresher on-refresh="onRefresh()"></ion-refresher>

      <div class="list tasks-list">
        <div class="item item-divider">
          Важные задания
        </div>

        <div class="item task-item task-item__empty" ng-hide="missions.important.length">Нет заданий</div>
        <mission-list-item ng-repeat="mission in missions.important"></mission-list-item>

        <div class="item item-divider">
          Задания с адресом
        </div>

        <div class="item task-item task-item__empty" ng-hide="missions.targeted.length">Нет заданий</div>
        <mission-list-item ng-repeat="mission in missions.targeted"></mission-list-item>

        <div class="item item-divider">
          Задания
        </div>

        <div class="item task-item task-item__empty" ng-hide="missions.common.length">Нет заданий</div>
        <mission-list-item ng-repeat="mission in missions.common"></mission-list-item>
      </div>
    </ion-content>
  </ion-view>
</script>

