<script id="mission_info.html" type="text/ng-template">
  <div class="list tasks-list task-info" mission-seen="true">
    <div class="mission-map" ng-if="mission.target" mission-map>
      <ya-map
      ya-center="{{ mission.center }}"
      ya-zoom="{{ mission.zoom }}"
      ya-after-init="afterMapInit($target)"
      ya-behaviors="-drag -rightMouseButtonMagnifier">
        <ya-geo-object ya-source="currentUser.location"
                       ya-options="{
                       iconImageHref: '<%= asset_url('audit/location.png') %>',
                       iconImageSize: [20, 20],
                       iconImageOffset: [-10, -10]
                       }"></ya-geo-object>

        <ya-geo-object ya-source="mission.target" ya-options="{preset: 'twirl#redIcon'}"></ya-geo-object>

      </ya-map>
    </div>

    <div class="item">
      ID Проекта: {{ mission.project_id }}, ID Задачи: {{ mission.task_id }}
    </div>

    <div class="item" ng-if="mission.address">
      Адрес: {{ mission.address }}
    </div>

    <div class="item" ng-if="mission.time_to_complete">
      Время на выполнение: {{ mission.time_to_complete }}ч
    </div>

    <div class="item" ng-if="mission.rating">
      Рейтинг: {{ mission.rating }}
    </div>

    <div class="item" ng-if="mission.price">
      Стоимость: {{ mission.price }}<i class="fa fa-rub"></i>
    </div>
  </div>


  <div class="padding">
    <div ng-bind-html="mission.description" class="task-description"></div>
  </div>
</script>