<script id="mission.html" type="text/ng-template">
  <ion-nav-buttons side="left">
    <a ng-click="goBack()">
      <i class="button button-icon ion-ios7-arrow-back"></i>
    </a>
  </ion-nav-buttons>

  <div ng-if="mission">
    <ion-view title="{{ mission.name }}" left-buttons="backButton">
      <loading></loading>

      <no-tabs>
        <ion-content has-header="true" has-footer="false" scroll="true">
          <mission-info></mission-info>
        </ion-content>

        <footer-accept-mission></footer-accept-mission>
      </no-tabs>
    </ion-view>
  </div>

  <div ng-if="notFound">
    <ion-view title="Задание не найдено" left-buttons="backButton">
      <no-tabs>
        <ion-content has-header="true" has-footer="false" scroll="true">
          <div class="card">
            <div class="item item-text-wrap">
              <h2>Задание не найдено</h2>

              <p>Произошла ошибка. </p>
            </div>
          </div>
        </ion-content>
      </no-tabs>
    </ion-view>
  </div>
</script>