<script id="mission_list_item.html" type="text/ng-template">
  <a href="#/missions/{{ mission.mission_id }}" class="item item-icon-left task-item" ng-class="{'task-fresh': !mission.seen}">
    <mission-status></mission-status>
  </a>
</script>