<script id="mission_status.html" type="text/ng-template">
  <div class="b-task">
    <div class="b-task__info">
      <div class="b-task__price" ng-if="mission.price">
        {{ mission.price }} <i class="fa fa-rub"></i>
      </div>

      <div class="b-task__rating" ng-if="!mission.price && mission.rating">
        {{ mission.rating }} <i class="fa fa-thumbs-up"></i>
      </div>

      <div class="b-task__time" ng-if="mission.address && mission.time_left">
        <i class="ion-ios7-timer-outline"></i>
        <timer></timer>
      </div>
    </div>

    <div class="b-task__status">
      <i class="icon" ng-class="{'ion-clipboard': mission.type == 'audit', 'ion-ios7-glasses': mission.type == 'secret', 'fa fa-thumb-tack': mission.type == 'sensus'}"></i>
    </div>

    <div class="b-task__name">
      {{ mission.name }}<div class="b-task__fresh"></div>
    </div>

    <div ng-if="mission.address">
      <div class="b-task__address">
        <i class="ion-ios7-location-outline pin"></i> {{ mission.address }}
      </div>

      <div class="b-task__address">
        <i class="ion-ios7-navigate-outline compas"></i>
        <distance ng-init="distance=mission.distance"></distance>
      </div>
    </div>

    <div ng-if="!mission.address && mission.time_left">
      <div class="b-task__time">
        <i class="ion-ios7-timer-outline"></i>
        <timer></timer>
      </div>
    </div>

    <% if false %>
        <div ng-if="mission.time_to_complete">
          <i class="icon ion-ios7-stopwatch-outline"></i>
        </div>

        <div ng-if="!mission.time_to_complete && mission.address">
          <i class="icon ion-ios7-location-outline"></i>
        </div>

        <div ng-if="!mission.time_to_complete && !mission.address">
          <i class="icon ion-clipboard"></i>
        </div>

        <div class="text-muted">
          <span ng-if="task.rating">Рейтинг: {{ mission.rating }} </span><span ng-if="mission.price">Стоимость: {{ mission.price }}</span>
        </div>
    <% end %>
  </div>
</script>