<%= simple_form_for @feedback, url: agent_feedbacks_path do |f| %>
    <%= f.input :content %>

    <div class="form-group">
      <div class="col-sm-12 col-sm-offset-2">
        <%= f.button :submit, save_or_update(@feedback), class: 'btn-primary' %>
        <%= link_to 'Отмена', agent_feedbacks_path, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>