<%= render 'tabs', selected: 'main' %>

<%= simple_form_for [:admin, @project], url: @project.new_record? ? admin_projects_path : admin_project_path(@project) do |f| %>
    <%= simple_fields_for 'project', @project do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :name %>
          <%= f.input :description %>
          <hr />
          <%= f.association :client, selected: params[:client] %>
          <hr />
          <%= f.input :start_date, as: :date_picker %>
          <%= f.input :end_date, as: :date_picker %>
          <hr />
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :submit, save_or_update(@project), class: 'btn-primary' %>
            <%= link_to 'Отмена', admin_projects_path, class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
<% end %>
