<table class="table table-hover">
  <thead>
  <tr>
    <th>Проект</th>
    <th class="text-center">Точки</th>
    <th class="text-center">Задачи</th>

    <th></th>
  </tr>
  </thead>

  <tbody>
  <% projects.each do |project| %>
      <tr>
        <td>
          <%= project.name %>

          <%= content_tag :div, class: 'text-muted' do %>
              <%= Russian::l(project.start_date, format: :short) %>
              — <%= Russian::l(project.end_date, format: :short) %>
          <% end %>

          <%= content_tag :div, class: 'text-muted' do %>
              Клиент: <%= project.client %>
          <% end %>
        </td>

        <td class="text-center">
          <%= link_to project.targets.size, admin_project_targets_path(project) %>
        </td>

        <td class="text-center">
          <%= link_to project.tasks.size, admin_project_tasks_path(project) %>
        </td>

        <td>
          <div class="pull-right">
            <div class="btn-group">
              <%= link_to pencil_icon,
                          edit_admin_project_path(project), :class => 'btn btn-xs btn-default' %>

              <%= link_to trash_icon,
                          admin_project_path(project),
                          :method => :delete,
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-xs btn-danger' %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>