<ul class="nav nav-tabs">
  <%= content_tag :li, class: (:active if selected == 'main') do %>
      <% if selected == 'main' and @project.new_record? %>
          <a href="#">
            Основное
          </a>
      <% else %>
          <a href="<%= edit_admin_project_path(@project) %>">
            Основное
          </a>
      <% end %>
  <% end %>

  <% unless @project.new_record? %>
      <%= content_tag :li, class: (:active if selected == 'targets') do %>
          <a href="<%= admin_project_targets_path(@project) %>">Точки</a>
      <% end %>
  <% end %>

  <% unless @project.new_record? %>
      <%= content_tag :li, class: (:active if selected == 'tasks') do %>
          <a href="<%= admin_project_tasks_path(@project) %>">Задачи</a>
      <% end %>
  <% end %>
</ul>
