<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Проект'), new_admin_project_path, class: 'btn btn-default' %>
  </div>
  <h1>Проекты</h1>
</div>

<%= render 'list', projects: @projects %>