<%= content_for :page_heading do %>
    <h1>Выполненные задачи</h1>
<% end %>

<table class="table table-hover">
  <thead>
  <tr>
    <th width="50%">Задача</th>
    <th>Проект</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @user_tasks.each do |user_task| %>
      <tr>
        <td>
          <%= user_task.task.name %>
          <%= content_tag :div, class: 'text-muted' do %>
              Создано: <%= Russian::l(user_task.created_at, format: :short) %>
          <% end %>
          <%= content_tag :div, class: 'text-muted' do %>
              Последнее обновление: <%= Russian::l(user_task.created_at, format: :short) %>
          <% end %>
        </td>
        <td>
          <%= user_task.task.project_name %>
        </td>

        <td>
          <div class="pull-right">
            <%= link_to cog_icon, operator_task_path(user_task), class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
