<%= content_for :page_heading do %>
    <h1>Выполненное задание</h1>
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#approve" data-toggle="tab">Подтверждение</a>
  </li>

  <li>
    <a href="#info" data-toggle="tab">Информация</a>
  </li>

  <% if false %>
      <li>
        <a href="#return" data-toggle="">Возврат</a>
      </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="info">
    <% @user_task.task.steps.each do |step| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= step.name %></h3>
          </div>

          <div class="panel-body">
            <% step.blocks.each do |block| %>
                <div>
                  <strong><%= block.name %></strong>
                  <%= block.description.html_safe if block.description.present? %>
                </div>

                <ul class="list-group">
                  <% block.fields.each do |field| %>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-sm-2">
                            <small><%= field.name %><%= ' *' if field.required? %></small>
                            <div class="text-muted">
                              <small><%= field.field_type %></small>
                            </div>
                          </div>

                          <div class="col-sm-10">
                            <% if field.location? %>
                                <%#= TODO map! %>
                                <%= field.answer(@user_task).to_s %>
                            <% elsif field.image? and field.answer(@user_task).present? %>
                                <%= link_to field.answer(@user_task).image_answer.url(:original) do %>
                                    <%= image_tag field.answer(@user_task).image_answer.url(:thumb) %>
                                <% end %>
                            <% else %>
                                <%= field.answer(@user_task) %>
                            <% end %>
                          </div>
                      </li>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>

  <div class="tab-pane active" id="approve">
    <%= simple_form_for @user_task, url: operator_task_path(@user_task), method: :patch do |f| %>
        <%= f.input :penalty, label: 'Штраф, %' %>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :button, 'Подтвердить', class: 'btn btn-primary' %>
            <%= link_to 'Отмена', operator_tasks_path, class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>
</div>