.hide-controls {
  .panel-heading, .list-group-item {
    .controls {
      margin: -2px -5px 0 0;
      display: none;
    }

    &:hover {
      .controls {
        display: block;
      }
    }
  }
}

.panel-group {
  .panel-body {
    .panel-group:last-of-type {
      margin-bottom: 0;
    }
    .panel-group + .btn {
      margin-top: 5px;
    }
  }
}