.b-tree {
  min-height:20px;
  padding:0;
  margin-bottom:20px;
}

.b-tree > ul {
  padding: 0;
}

.b-tree > ul ul {
  padding-left: 10px;
}

.b-tree .hover-only {
  display: none;
}

.b-tree li {
  list-style-type:none;
  margin:0;
  padding:10px 0 0 5px;
  position:relative
}
.b-tree li::before, .b-tree li::after {
  content:'';
  left:-5px;
  position:absolute;
  right:auto
}
.b-tree li::before {
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}

.b-tree li::after {
  border-top:1px solid #999;
  height:20px;
  top:19px;
  width:5px
}

.b-tree li span {
  display: block;
  padding:0 8px 0 0;
  text-decoration:none;

  &:hover {
    .hover-only {
      display: block;
    }
    .nonhover-only {
      display: none;
    }
  }
}
.b-tree li.parent_li>span {
  cursor:pointer
}
.b-tree>ul>li::before, .b-tree>ul>li::after {
  border:0
}
.b-tree li:last-child::before {
  height:20px
}
.b-tree li.parent_li>span:hover, .b-tree li.parent_li>span:hover+ul li span {
  color:#000
}