<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon('Администратор'), new_admin_admin_path, class: 'btn btn-default' %>
  </div>
  <h1>Администраторы</h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Админ</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td>
            <%= user.full_name %>
        </td>

        <td>
          <div class="pull-right">
              <div class="btn-group">
                <%= link_to pencil_icon,
                            edit_admin_admin_path(user), :class => 'btn btn-xs btn-default' %>

                <%= link_to trash_icon,
                            admin_admin_path(user),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>