<script id="field-audio.html" type="text/ng-template">
  <div ng-class="{'valid': taskForm['field' + field.id].$valid, 'required': taskForm['field' + field.id].$error.required }">
    <audio-button></audio-button>

    <div class="item-hint" ng-if="field.hint">
      <div class="tip"></div>
      {{ field.hint }}
    </div>

    <input type="hidden" form-field dynamic-name="'field' + field.id" ng-model="answers[field.id]" ng-required="field.required" />
  </div>
</script>