<script id="field-checkbox.html" type="text/ng-template">
  <div class="select-list" ng-class="{'valid': taskForm['field' + field.id].$valid, 'required': taskForm['field' + field.id].$error.required }">
    <div class="title">
      {{ field.name }}
    </div>

    <div class="item-hint" ng-if="field.hint">
      <div class="tip"></div>
      {{ field.hint }}
    </div>

    <div ng-repeat="variant in field.variants">
      <label class="item item-checkbox">
        <div class="checkbox">
          <input type="checkbox" form-check checklist-model="answers[field.id]" checklist-value="variant.id" ng-checked="isChecked(answers[field.id], variant)" />
        </div>

        {{ variant.label }}
      </label>
    </div>

    <input type="hidden" form-field dynamic-name="'field'+field.id" ng-model="answers[field.id]" required="{{ field.required }}" />
  </div>
</script>