<script id="field-radio.html" type="text/ng-template">
  <div class="select-list" ng-class="{'valid': taskForm['field' + field.id].$valid, 'required': taskForm['field' + field.id].$error.required }">
    <div class="title">
      {{ field.name }}
    </div>

    <div class="item-hint" ng-if="field.hint">
      <div class="tip"></div>
      {{ field.hint }}
    </div>

    <div ng-repeat="variant in field.variants">
      <label class="item item-radio">
        <input type="radio" form-check ng-change="showScope()" ng-model="answers[field.id]" value="{{ variant.id }}" ng-checked="isChecked(answers[field.id], variant)" />

        <div class="item-content">
          {{ variant.label }}
        </div>

        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>

    <input type="hidden" form-field dynamic-name="'field' + field.id" ng-model="answers[field.id]" placeholder="{{ field.name }}" value="{{ field.value }}" ng-required="field.required"/>
  </div>
</script>