<script id="field-text.html" type="text/ng-template">
  <div ng-class="{'valid': taskForm['field' + field.id].$valid, 'required': taskForm['field' + field.id].$error.required }">

    <label class="item-input" ng-class="{'item-input__required': field.required,'invalid': !taskForm['field' + field.id].$valid, 'valid': taskForm['field' + field.id].$valid }">
      <i class="item-icon ion-ios7-checkmark-outline"></i>
      <textarea autosizeable form-field dynamic-name="'field' + field.id" ng-model="answers[field.id]" placeholder="{{ field.name }}" ng-required="field.required"></textarea>
    </label>

    <div class="item-hint" ng-if="field.hint">
      <div class="tip"></div>
      {{ field.hint }}
    </div>
  </div>
</script>