<script id="field-toggle.html" type="text/ng-template">
  <div class="item item-toggle">
    {{ field.name }}

    <label class="toggle toggle-assertive">
      <input type="checkbox" form-field ng-model="answers[field.id]" ng-checked="answers[field.id]" />

      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
</script>