<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h2 class="form-signin-heading">Подтверждение смены пароля</h2>
    <hr/>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4 auth-form">
    <div class="col-sm-offset-1">
      <%= simple_form_for(@agent, as: :agent, url: agent_confirm_path, method: :post, class: 'form-horizontal') do |f| %>
          <%= f.input :confirmation_token_confirmation, as: :string, label: 'Код', placeholder: 'Код подтверждения' %>

          <div class="row">
            <div class="col-sm-10">
              <%= f.button :submit, 'Подтвердить', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>