<%= content_for :page_heading do %>
    <h1>Изменение профиля</h1>
<% end %>

<%= simple_form_for @agent, url: edit_agent_profile_path, method: :post do |f| %>
        <%= simple_fields_for 'profile', @agent.profile do |p| %>
            <%= p.input :first_name, label: 'Имя', required: true %>
            <%= p.input :last_name, label: 'Фамилия', required: true %>
            <%= p.input :sex, label: 'Пол', required: true, collection: ['Мужской', 'Женский'] %>
            <%= p.input :birth_date, as: :date_picker, label: 'Дата рождения', required: true %>
            <%#= p.input :address, label: 'Адрес', required: true %>
            <%= p.input :email, label: 'Email', required: true %>
        <% end %>

        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :button, 'Сохранить изменения', class: 'btn btn-primary' %>
          </div>
        </div>
<% end %>