<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h2 class="form-signin-heading">Вход</h2>
    <hr/>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-4 col-sm-4 auth-form">
    <div class="col-sm-offset-1">
      <%= simple_form_for(@agent, as: :agent, url: agent_login_path(), method: :post, class: 'form-horizontal') do |f| %>
          <%= f.input :login, as: :string, label: 'Телефон', placeholder: 'Телефон', pattern: false, input_html: {data: {type: :phone}} %>
          <%= f.input :password, required: true, placeholder: 'Пароль', class: 'form-control' %>

          <div class="row">
            <div class="col-sm-10">
              <%= f.button :submit, 'Вход', class: 'btn btn-lg btn-primary btn-block' %>

              <%= link_to 'Забыли пароль?', agent_recover_path, class: 'btn btn-block' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>