<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h2 class="form-signin-heading">Восстановление пароля</h2>
    <hr/>
    <br />
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-4 col-sm-4 auth-form">
    <div class="col-sm-offset-1">
      <%= simple_form_for(@agent, as: :agent, url: agent_recover_path, method: :post, class: 'form-horizontal') do |f| %>
          <%= f.input :login, as: :string, label: 'Телефон', placeholder: 'Телефон', pattern: false, input_html: {data: {type: :phone}} %>

          <div class="row">
            <div class="col-sm-10">
              <%= f.button :submit, 'Получить проверочный код', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>