<%= content_for :page_heading do %>
    <h1>Регистрация в системе</h1>
<% end %>

<%= simple_form_for @agent, url: agent_register_path, method: :post do |f| %>
    <%= simple_fields_for 'agent', @agent do |f| %>
        <%= f.input :login, label: 'Телефон', input_html: {data: {type: 'phone'}}, placeholder: '+7 (123) 456-78-90' %>
        <%= f.simple_fields_for 'profile' do |p| %>
            <%= p.input :first_name, label: 'Имя', required: true %>
            <%= p.input :last_name, label: 'Фамилия', required: true %>
            <%= p.input :sex, label: 'Пол', required: true, collection: ['Мужской', 'Женский'] %>
            <%= p.input :birth_date, as: :date_picker, label: 'Дата рождения', required: true %>
            <%#= p.input :address, label: 'Адрес', required: true %>
            <%= p.input :email, label: 'Email', required: true %>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= p.input_field :experience, inline_label: 'Есть опыт работы аудитором' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= p.input_field :agreement, as: :boolean, inline_label: 'Согласен с правилами' %>
              </div>
            </div>
        <% end %>


        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-2">
            <%= f.button :button, 'Зарегистрироваться!', class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
<% end %>