body {
  padding: 60px 0;
}

.nav-tabs {
  margin-bottom: 15px;
}

.select2-container {
  padding: 0px;
  border-width: 0px;
}
.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
}