<script id="task_cancel_button.html" type="text/ng-template">
  <button type="button" class="button button-assertive button-block">
    <i class="icon ion-ios7-trash"></i> Отменить задание
  </button>
</script>