<%= simple_form_for @variant, url: @variant.new_record? ? admin_task_field_variants_path(@task, @field) : admin_task_field_variant_path(@task, @field, @variant) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :label %>
      <%= f.input :default %>
    </div>

    <div class="form-group">
      <div class="col-sm-12 col-sm-offset-2">
        <%= f.button :submit, save_or_update(@variant), class: 'btn-primary' %>
        <%= link_to 'Отмена', edit_admin_task_field_path(@task, @field, anchor: 'variants'), class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
