<%= content_for :page_heading do %>
    <h1>Обратная связь</h1>
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'Новые', '#feedbacks', {data: {toggle: 'tab'}} %>
  </li>

  <li>
    <%= link_to 'Мои', '#own', {data: {toggle: 'tab'}} %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="feedbacks">

    <% if @feedbacks.present? %>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Запрос</th>
            <th>От</th>
            <th width="200px"></th>
            <th width="100px"></th>
          </tr>
          </thead>

          <tbody>
          <% @feedbacks.each do |feedback| %>
              <tr>
                <td>
                  <%= truncate feedback.content, size: 100 %>
                  <%= content_tag :div, class: 'text-muted' do %>
                      <%= Russian::l(feedback.created_at, format: :short) %>
                  <% end %>
                </td>

                <td>
                  <%= feedback.user.full_name %>
                </td>

                <td class="text-center">
                  <%= feedback.messages.size %> <%= message_icon %>
                </td>


                <td>
                  <div class="pull-right">
                    <div class="btn-group">
                      <%= link_to list_icon,
                                  operator_feedback_path(feedback),
                                  :class => 'btn btn-xs btn-default' %>

                      <%= link_to ok_icon,
                                  operator_feedback_path(feedback),
                                  :method => :patch,
                                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                                  :class => 'btn btn-xs btn-primary' %>
                    </div>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <div class="alert alert-info">
          Нет запросов, доступных для обработки..
        </div>
    <% end %>
  </div>
  <div class="tab-pane" id="own">
    <% if current_operator.feedbacks.present? %>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Запрос</th>
            <th width="200px"></th>
            <th width="100px"></th>
          </tr>
          </thead>

          <tbody>
          <% current_operator.feedbacks.each do |feedback| %>
              <tr>
                <td>
                  <%= truncate feedback.content, size: 100 %>
                  <%= content_tag :div, class: 'text-muted' do %>
                      <%= Russian::l(feedback.created_at, format: :short) %>
                  <% end %>
                </td>

                <td class="text-center">
                  <%= feedback.messages.size %> <%= message_icon %>
                </td>

                <td>
                  <div class="pull-right">
                    <div class="btn-group">
                      <%= link_to list_icon,
                                  operator_feedback_path(feedback),
                                  :class => 'btn btn-xs btn-default' %>
                    </div>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <div class="alert alert-info">
          Нет запросов, принятых в обработку..
        </div>
    <% end %>

  </div>
</div>
