<%= content_for :page_heading do %>
    <h1>Сообщения
      <small><%= link_to 'Обратная связь', operator_feedbacks_path %></h1>
<% end %>

<blockquote>
  <%= @feedback.content %>

  <small>
    <%= @feedback.user.full_name %>, <%= Russian::l(@feedback.created_at, format: :short) %>
  </small>
</blockquote>

<% if @feedback.available_for?(current_operator) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Сообщения
      </div>

      <div class="panel-body no-bottom">
        <% if @feedback.messages.present? %>
            <% @feedback.messages.each do |message| %>
                <div class="row">
                  <div class="col-sm-2 text-right">
                    <%= message.user.full_name %>
                    <br/>
                    <%= content_tag :div, class: 'badge' do %>
                        <%= message.user.human_type %>
                    <% end %>

                    <br/>
                    <small class="text-muted"><%= Russian::l(message.created_at, format: :short) %></small>
                  </div>

                  <div class="col-sm-10">
                    <% if message.is_deleteable_by?(current_operator) %>
                        <div class="pull-right">
                          <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-trash'),
                                      operator_feedback_message_path(@feedback, message),
                                      method: :delete,
                                      data: {confirm: 'Are you sure?'},
                                      class: 'btn btn-danger btn-xs' %>
                        </div>
                    <% end %>
                    <%= message.content %>
                  </div>
                </div>
            <% end %>

        <% else %>
            <div class="alert alert-info">
              Ни одного сообщения не добавлено!
            </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= render 'message_form', feedback: @feedback, message: Message.new %>
      </div>
    </div>
<% end %>