<script id="task_approved.html" type="text/ng-template">
  <ion-view title="{{ task.name }}">
    <loading></loading>

    <ion-content has-header="true" scroll="true">
      <div class="card">
        <div class="item item-text-wrap">
          <h2>{{ task.name }}</h2>

          <p>Задание подтверждено!</p>

          <p>Начислено:</p>

          <div>
            - Штрафы: {{ task.penalty }}
          </div>
          <div>
            - Рейтинг: {{ task.rating }}
          </div>
          <div>
            - Деньги: {{ task.price }}
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>