<script id="task_current.html" type="text/ng-template">
  <ion-view title="{{ task.name }}" task-seen="true">
    <loading></loading>

    <no-tabs ng-if="task">
      <form novalidate="true" ng-submit="next()" name="taskForm" class="b-form">
        <ion-content has-header="true" scroll="true">

          <div ng-show="task">
            <div class="item item-divider active">
              <h2>{{ task.step.name }}</h2>
            </div>

            <div class="padding" ng-if="task.step.description" ng-bind-html="task.step.description"></div>

            <task-block ng-repeat="block in task.step.blocks" ng-init="form=this.taskForm"></task-block>
          </div>
        </ion-content>

        <footer-task></footer-task>
      </form>
    </no-tabs>
  </ion-view>
</script>