<script id="task_done.html" type="text/ng-template">
  <ion-view title="{{ task.name }}">
    <loading></loading>

    <no-tabs ng-if="task && mission">
      <ion-content has-header="true" scroll="true">
        <div class="padding">
          <h3>Задание выполнено</h3>

          <div ng-bind-html="mission.done" ng-if="mission.done"></div>
        </div>
      </ion-content>

      <ion-footer-bar class="bar-stable">
        <div class="button-bar">
          <button type="button" class="button button-balanced button-clear" ng-click="upload()">
            <i class="icon ion-ios7-cloud-upload"></i>&nbsp;Отправить
          </button>

          <button type="button" class="button button-assertive button-clear" ng-click="cancel()">
            Отменить&nbsp;<i class="icon ion-ios7-trash"></i>
          </button>
        </div>
      </ion-footer-bar>
    </no-tabs>
  </ion-view>
</script>