<script id="task_not_found.html" type="text/ng-template">
  <ion-view title="Задание не найдено">
    <ion-content has-header="true" scroll="true">
      <div class="card">
        <div class="item item-text-wrap">
          <h2>Задание не найдено</h2>

          <p>Произошла ошибка. </p>
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>