<script id="task_synced.html" type="text/ng-template">
  <ion-view title="{{ task.name }}">
    <loading></loading>

    <ion-content has-header="true" scroll="true">
      <div class="card">
        <div class="item item-text-wrap">
          <h2>{{ task.name }}</h2>
          <p>Задание на модерации&hellip;</p>
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>