<script id="footer_accept_mission.html" type="text/ng-template">
  <ion-footer-bar class="bar-balanced">
    <button class="button button-clear button-center" ng-click="start()">
      <i class="icon ion-ios7-cloud-download-outline"></i> Загрузить и выполнить
    </button>
  </ion-footer-bar>
</script>