<script id="footer_close_modal.html" type="text/ng-template">
  <ion-footer-bar class="bar-stable">
    <div class="title" ng-click="closeModal()">
      Закрыть
    </div>
  </ion-footer-bar>
</script>