<script id="footer_empty.html" type="text/ng-template">
  <ion-footer-bar class="bar-assertive">
    <button class="button button-clear button-center" ng-click="closeModal()">
      <i class="icon ion-ios7-trash"></i> Отменить задание
    </button>
  </ion-footer-bar>
</script>