<script id="footer_logout.html" type="text/ng-template">
  <ion-footer-bar class="bar-assertive">
    <button class="button button-clear button-center" ng-click="logout()">
      <i class="icon fa fa-sign-out"></i> Выйти
    </button>
  </ion-footer-bar>
</script>