<script id="footer_task.html" type="text/ng-template">
  <ion-footer-bar ng-class="{'bar-energized': taskForm.$invalid, 'bar-balanced': taskForm.$valid}">
    <button type="button" class="button button-clear" ng-click="backClicked()" ng-if="canGoBack()">
      <i class="icon ion-ios7-arrow-back"></i> Назад
    </button>

    <button type="button" class="button button-clear button-right" ng-click="nextClicked(taskForm)">
      <div ng-if="taskForm.$invalid">
        Заполните еще <span class="badge badge-assertive">{{ taskForm.$error.required.length }}</span>
      </div>

      <div ng-if="taskForm.$valid">
        <div ng-if="lastStep()">
          Завершить <i class="icon ion-ios7-arrow-forward"></i>
        </div>

        <div ng-if="!lastStep()">
          Продолжить <i class="icon ion-ios7-arrow-forward"></i>
        </div>
      </div>
    </button>
  </ion-footer-bar>
</script>