<script id="footer_task_info.html" type="text/ng-template">
  <ion-footer-bar class="bar-assertive">
    <button class="button button-clear button-center" ng-click="cancel()" ng-if="task.status!='synced' && task.status!='approved'">
      <i class="icon ion-ios7-trash"></i> Отменить задание
    </button>

    <button class="button button-clear button-center" ng-click="closeModal()" ng-if="task.status=='synced'">
        Закрыть
    </button>

    <button class="button button-clear button-center" ng-click="remove()" ng-if="task.status=='approved'">
      <i class="icon ion-ios7-trash"></i> Удалить из списка
    </button>
  </ion-footer-bar>
</script>