<script id="task_block.html" type="text/ng-template">
  <div class="item item-divider active" ng-if="block.name">
    <h3>{{ block.name }}</h3>
  </div>

  <div class="padding">
    <div ng-bind-html="block.description" ng-if="block.description"></div>

    <task-field ng-repeat="field in block.fields"></task-field>
  </div>
</script>