<script id="task_info.html" type="text/ng-template">
  <div class="modal" ng-init="hideTabs()">
    <no-tabs>
      <header class="bar bar-header bar-assertive">
        <h1 class="title">{{ task.name }}</h1>
        <button type="button" class="button button-clear icon ion-ios7-close" ng-click="closeModal()"></button>
      </header>

      <ion-content has-header="true" scroll="true">
        <mission-info></mission-info>
      </ion-content>

      <footer-task-info></footer-task-info>
    </no-tabs>
  </div>
</script>