<script id="task.html" type="text/ng-template">
  <ion-nav-buttons side="left">
    <a ng-click="goBack()">
      <i class="button button-icon ion-ios7-arrow-back"></i>
    </a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a ng-click="openModal()" ng-if="task">
      <i class="button button-icon ion-ios7-information"></i>
    </a>
  </ion-nav-buttons>

  <div ng-if="task">
      <task-current ng-if="task && task.status=='current' || task.status==''"></task-current>
      <task-done ng-if="task && task.status=='done'"></task-done>
      <task-synced ng-if="task && task.status=='synced'"></task-synced>
      <task-approved ng-if="task && task.status=='approved'"></task-approved>
  </div>

  <task-not-found ng-if="notFound"></task-not-found>
</script>