<script id="tasks.html" type="text/ng-template">
  <ion-nav-buttons side="right">
    <a ng-click="openModal()">
      <i class="button button-icon ion-ios7-person"></i>
    </a>
  </ion-nav-buttons>

  <ion-view title="Мои задания">
    <ion-content has-header="true" has-footer="true" ng-init="loadTasks()">
      <ion-refresher on-refresh="onRefresh()"></ion-refresher>

      <loading></loading>

      <div class="list tasks-list">
        <div class="item item-divider">
          В процессе
        </div>

        <div class="item task-item" ng-hide="tasks.current.length">Нет заданий</div>

        <task-list-item ng-repeat="task in tasks.current"></task-list-item>

        <div ng-if="tasks.done.length || tasks.synced.length">
            <div class="item item-divider">
              Выполненные
            </div>

            <task-list-item ng-repeat="task in tasks.done"></task-list-item>
            <task-list-item ng-repeat="task in tasks.synced"></task-list-item>
        </div>

        <div ng-if="tasks.approved.length">
          <div class="item item-divider">
            Подтвержденные
          </div>

          <task-list-item ng-repeat="task in tasks.approved" item="task"></task-list-item>
        </div>
      </div>


      <% if false %>
          <div class="list tasks-list" ng-if="tasks">
            <div class="item item-divider">
              В процессе
            </div>

            <div class="item" ng-hide="tasks.current.length">Нет заданий</div>
            <div ng-repeat="task in tasks.current">
              <div ng-include src="'task_list_item.html'"></div>
            </div>

            <div class="item item-divider">
              Готовые
            </div>

            <div class="item" ng-hide="tasks.done.length">Нет заданий</div>
            <div ng-repeat="task in tasks.done">
              <div ng-include src="'task_list_item.html'"></div>
            </div>

            <div class="item item-divider">
              Подтвержденные
            </div>

            <div class="item" ng-hide="tasks.approved.length">Нет заданий</div>
            <div ng-repeat="task in tasks.approved">
              <div ng-include src="'task_list_item.html'"></div>
            </div>
          </div>
      <% end %>
    </ion-content>
  </ion-view>
</script>