<script id="task_list_item.html" type="text/ng-template">
  <a href="#/tasks/{{ task.id }}" class="item item-icon-left task-item" ng-class="{'task-fresh': !task.seen}">
    <div class="b-task">
      <div ng-if="task.status=='current'">
        <div class="b-task__status">
          <i class="icon" ng-class="{'ion-clipboard': task.type == 'audit', 'ion-ios7-glasses': task.type == 'secret', 'fa fa-thumb-tack': task.type == 'sensus'}"></i>
        </div>
      </div>

      <div class="b-task__info">
        <div class="b-task__price" ng-if="task.price" ng-class="{'incomplete': !task.is_approved}">
          {{ task.price }} <i class="fa fa-rub"></i>
        </div>

        <div class="b-task__rating" ng-if="!task.price && task.rating" ng-class="{'incomplete': !task.is_approved}">
          {{ task.rating }} <i class="fa fa-thumbs-up"></i>
        </div>

        <div ng-if="task.is_current">
          <div class="b-task__distance" ng-if="task.distance">
            {{ task.distance }}
          </div>
        </div>
      </div>

      <div class="b-task__name">
        {{ task.name }}<div class="b-task__fresh"></div>
      </div>

      <div ng-if="task.status=='current'">
        <div class="text-muted">
          <!--TODO completed_for -->
          Задание выполнено на {{ task.completed_for }}%
        </div>
      </div>

      <div ng-if="task.status=='done'">
        <i class="icon ion-ios7-cloud-upload-outline"></i>

        <div class="text-muted">
          Задание выполнено
        </div>
      </div>

      <div ng-if="task.status=='synced'">
        <i class="icon ion-ionic"></i>

        <div class="text-muted">
          Задание на модерации
        </div>
      </div>

      <div ng-if="task.status=='approved'">
        <i class="icon ion-ios7-checkmark-outline"></i>

        <div class="text-muted">
          Задание подтверждено!
        </div>
      </div>
    </div>
  </a>
</script>