body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fafafa;
}

.form-signin {
  max-width: 330px;

  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-group.multi input:first-of-type {
  margin-bottom: -1px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin .form-group.multi input {
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

.form-signin .form-group.multi input:last-of-type {
  margin-bottom: 10px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}