<% if tasks.present? %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>
      Задача
    </th>
  </tr>
  </thead>
  <tbody>
  <% tasks.each do |task| %>
      <tr>
        <td>
          <%= task.name %>

          <% if task.target.present? %>
              <%= content_tag :div, class: 'text-muted' do %>
                  <%= task.address %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
    <%= content_tag :div, class: 'alert alert-info' do %>
        Нет заданий
    <% end %>
<% end %>