<%= content_for :page_heading do %>
    <h1>Задания</h1>
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'Текущие', '#current', data: {toggle: :tab} %>
  </li>
  <li>
    <%= link_to 'Завершенные', '#done', data: {toggle: :tab} %>
  </li>
  <li>
    <%= link_to 'Подтвержденные', '#approved', data: {toggle: :tab} %>
  </li>
</ul>

<br />

<div class="tab-content">
  <div class="tab-pane active" id="current">
    <%= render 'list', tasks: @aggregator.current %>
  </div>

  <div class="tab-pane" id="done">
    <%= render 'list', tasks: @aggregator.done %>
  </div>

  <div class="tab-pane" id="approved">
    <%= render 'list', tasks: @aggregator.approved %>
  </div>
</div>

