<%= simple_form_for message, url: client_feedback_messages_path(feedback, message), data: {type: 'message'} do |f| %>
    <%= f.input_field :content, placeholder: 'Сообщение', label: '', data: {autosize: true, message: :input}, autofocus: true %>
    <%= f.button :button, 'Добавить', class: 'hidden' %>
<% end %>
