<%= content_for :page_heading_actions do %>
    <%= link_to 'Новый запрос', new_client_feedback_path, class: 'btn btn-default' %>
<% end %>

<%= content_for :page_heading do %>
    <h1>Обратная связь</h1>
<% end %>

<% if @feedbacks.present? %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Запрос</th>
        <th width="200px"></th>
        <th width="100px"></th>
      </tr>
      </thead>

      <tbody>
      <% @feedbacks.each do |feedback| %>
          <tr>
            <td>
              <%= truncate feedback.content, size: 100 %>
              <%= content_tag :div, class: 'text-muted' do %>
                  <%= Russian::l(feedback.created_at, format: :short) %>
              <% end %>
            </td>

            <td class="text-center">
              <%= feedback.messages.size %> <%= message_icon %>
            </td>


            <td>
              <div class="pull-right">
                <div class="btn-group">
                  <%= link_to list_icon,
                              client_feedback_path(feedback),
                              :class => 'btn btn-xs btn-default' %>

                  <%= link_to trash_icon,
                              client_feedback_path(feedback),
                              :method => :delete,
                              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                              :class => 'btn btn-xs btn-danger' %>
                </div>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info">
      Вы еще не сделали ни одного запроса
    </div>
<% end %>