var ReportTypesCalendar = function (el) {
    el.fullCalendar({
        header: {
            left: 'title',
            right: 'prev,next'
        },
        selectable: true,
        select: function (start, end, allDay) {
            var params = {start: start, end: end};
            $.each(params, function (i) {
                params[i] = [params[i].getFullYear(), params[i].getMonth() + 1, params[i].getDate()].join('-')
            });

            var url = el.data('create'),
                url_params = []

            $.each(params, function (i) {
                url_params.push(i + '=' + params[i]);
            });

            window.location.href = url + '?' + url_params.join('&');
        },

        defaultView: 'month',
        firstDay: 1,
        monthNamesShort: ["янв.", "февр.", "март", "апр.", "май", "июнь", "июль", "авг.", "сент.", "окт.", "нояб.", "дек."],
        monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        dayNamesShort: <%= I18n.t('date.abbr_day_names') %>,
        dayNames: <%= I18n.t('date.day_names') %>,
        eventSources: [
            {
                url: el.data('source'),
                color: '#6699bb',
                textColor: '#fff',
                ignoreTimezone: false
            }
        ]
    });
}

$(document).on('ready page:load', function () {
    $('[data-type=report-types-calendar]').each(function () {
        new ReportTypesCalendar($(this));
    });
});