<!DOCTYPE html>
<html>
<head>
  <title>Администратор</title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
  <% if notice %>
      <script>
          $(function () {
              alertify.success("<%= notice %>");
          })
      </script>
  <% end %>

  <% if alert %>
      <script>
          $(function () {
              alertify.error("<%= alert %>");
          })
      </script>
  <% end %>
  <script>
      var REDACTOR = {
          urls: {
              documents: "<%= redactor_rails.documents_path %>",
              pictures: "<%= redactor_rails.pictures_path %>"
          }
      }
  </script>
  <%= js_route_name %>
</head>
<body>

<%= render 'admin/header' %>

<div class="container">
  <% if content_for?(:page_heading) %>
      <div class="page-header">
        <% if content_for?(:page_heading_actions) %>
            <div class="pull-right">
              <%= yield :page_heading_actions %>
            </div>
        <% end %>
        <%= yield :page_heading %>
      </div>
  <% end %>

  <%= yield %>
</div>

<%= render 'admin/footer' %>

</body>
</html>