<!DOCTYPE html>
<html animation="slide-left-right-ios7">
<head>
  <meta charset="utf-8">
  <title><%= [content_for(:page_title), ' —'].join if content_for?(:page_title) %> Аудит</title>

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag "api-minify" %>
  <%= stylesheet_link_tag "api" %>

  <%= javascript_include_tag "api-minify" %>
  <%= javascript_include_tag "api" %>

  <% if notice %>
      <script>
          $(function () {
              alertify.success("<%= notice %>");
          })
      </script>
  <% end %>

  <% if alert %>
      <script>
          $(function () {
              alertify.error("<%= alert %>");
          })
      </script>
  <% end %>
  <%= render 'api/app/templates' %>
</head>

<body app-tabs>

<ion-nav-bar class="nav-title-slide-ios7 bar-assertive"></ion-nav-bar>
<ion-nav-view></ion-nav-view>

<%= yield %>

<script type="text/javascript">
    //  var DOMAIN = 'http://mobilecontroller-2014.herokuapp.com/';
    var DOMAIN = 'http://0.0.0.0:3000';

    var Error = function(message) {
        console.error(message);
    };

    $(document).on('ready', function () {
        DB.init(function() {
            angular.bootstrap(document, ['MC']);
        })
    });
</script>

</body>
</html>
