<!DOCTYPE html>
<html>
<head>
  <title>Mobilecontroller</title>
  <%= stylesheet_link_tag "agent" %>
  <%= javascript_include_tag "agent" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if content_for?(:page_heading) %>
      <div class="page-header">
        <% if content_for?(:page_heading_actions) %>
            <div class="pull-right">
              <%= yield :page_heading_actions %>
            </div>
        <% end %>
        <%= yield :page_heading %>
      </div>
  <% end %>

  <%= yield %>
</div>


</body>
</html>