<!DOCTYPE html>
<html>
<head>
  <title>Вход в систему</title>
  <meta name="viewport" content="initial-scale=1.0" />
  <%= stylesheet_link_tag    "auth", media: "all" %>
  <%= javascript_include_tag "auth" %>
  <%= csrf_meta_tags %>
  <% if notice %>
      <script>
          $(function() {
              alertify.success("<%= notice %>");
          })
      </script>
  <% end %>

  <% if alert %>
      <script>
          $(function() {
              alertify.error("<%= alert %>");
          })
      </script>
  <% end %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>