<!DOCTYPE html>
<html>
<head>
  <title>Клиент</title>
  <%= stylesheet_link_tag "client" %>
  <%= javascript_include_tag "client" %>
  <%= csrf_meta_tags %>
  <% if notice %>
      <script>
          $(function () {
              alertify.success("<%= notice %>");
          })
      </script>
  <% end %>

  <% if alert %>
      <script>
          $(function () {
              alertify.error("<%= alert %>");
          })
      </script>
  <% end %>
  <%= js_route_name %>
</head>
<body>

<%= render 'client/header' %>

<div class="container">
  <% if content_for?(:page_heading) %>
      <div class="page-header">
        <% if content_for?(:page_heading_actions) %>
            <div class="pull-right">
              <%= yield :page_heading_actions %>
            </div>
        <% end %>
        <%= yield :page_heading %>
      </div>
  <% end %>

  <%= yield %>
</div>

<%= render 'client/footer' %>

</body>
</html>