<script id="audio_button.html" type="text/ng-template">
  <button type="button" class="button button-block" ng-click="this.takePicture()">
    <i class="icon ion-ios7-mic"></i>&nbsp;Записать аудио
  </button>
</script>