<script id="image_button.html" type="text/ng-template">
  <button type="button" class="button button-block" ng-click="this.takePicture()" ng-disabled="processing" ng-class="{'button-energized': !url && !processing, 'button-stable': processing, 'button-balanced button-outline': url}">

    <div ng-show="!url && !processing">
      <i class="icon ion-ios7-camera"></i>&nbsp;Сделать фотографию
    </div>

    <div ng-show="processing">
      <i class="icon ion-ios7-reloading"></i>&nbsp;Обработка фотографии...
    </div>

    <div ng-show="url">
      <i class="icon ion-checkmark"></i>&nbsp;Фотография сделана!
    </div>
  </button>
</script>