<script id="locate_button.html" type="text/ng-template">
  <button class="button button-block" type="button" ng-click="this.getCurrentLocation()" ng-disabled="locating" ng-class="{'button-energized': !located && !locating && !locationError, 'button-stable': locating, 'button-assertive': locationError, 'button-balanced button-outline': located}">
    <div ng-show="!locating && !located && !locationError">
      <i class="icon ion-pinpoint"></i>&nbsp;Определить местоположение
    </div>

    <div ng-show="locating">
      <i class="icon ion-ios7-reloading"></i>&nbsp;определяем...
    </div>

    <div ng-show="located">
      <i class="icon ion-checkmark"></i>&nbsp;Определено успешно!
    </div>

    <div ng-show="locationError">
      <i class="icon ion-alert-circled"></i>&nbsp;Попробуйте еще раз...
    </div>
  </button>
</script>