<script id="profile.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Профиль</h1>
      <button type="button" class="button button-clear icon ion-ios7-close" ng-click="closeModal()"></button>
    </header>

    <no-tabs>
      <ion-content has-header="true" has-footer="false" padding="true" scroll="true">
        <div class="list b-profile">
          <div class="item item-divider">
            {{ profile.full_name }}
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-ios7-telephone-outline"></i>
            {{ profile.phone }}
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-ios7-email-outline"></i>
            {{ profile.email }}
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-thumbsup"></i>
            Рейтинг:
          <span class="item-note">
            {{ profile.rating }}
          </span>
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-card"></i>

            Баланс:
          <span class="item-note">
            {{ profile.balance }}
          </span>
          </div>

          <div class="item item-divider">
            Задачи
          </div>

          <div class="item">
            На модерации:
          <span class="badge badge-positive">
            {{ profile.done }}
          </span>
          </div>

          <div class="item">
            Подтверждено:
          <span class="badge badge-balanced">
            {{ profile.approved }}
          </span>
          </div>

          <div class="item item-divider">
            MobileController
          </div>

          <div class="item">
            Версия: v0.9 (2652)
          </div>
        </div>
      </ion-content>

      <footer-logout></footer-logout>
    </no-tabs>
  </div>
</script>