<script id="video_button.html" type="text/ng-template">
  <button type="button" class="button button-block" ng-click="this.recordVideo()">
    <i class="icon ion-ios7-videocam"></i>&nbsp;Записать видео
  </button>
</script>